@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif; }

a {
  text-decoration: none;
  color: #7b7b7b; }

button {
  border: none;
  padding: 15px 25px 17px 55px;
  font-size: 18px;
  display: block;
  cursor: pointer !important;
  background-color: #3F93D2;
  color: white; }
  button i {
    font-size: 36px;
    vertical-align: middle;
    position: absolute;
    margin-left: -31px; }

#demo {
  max-width: 640px; }

#results {
  background-color: #eb4e41;
  padding-left: 63px;
  padding-right: 10px;
  padding-bottom: 10px; }

table {
  width: 96%;
  border-collapse: collapse;
  margin-bottom: 10px; }

table tr {
  border-bottom: 1px solid white; }

table tr td {
  color: white;
  padding: 3px;
  font-size: 14px; }
  table tr td a {
    color: white;
    font-weight: bold; }

.green {
  background-color: #84d07e;
  padding: 15px 15px 17px 65px; }
  .green i {
    font-size: 36px;
    vertical-align: middle;
    position: absolute;
    margin-left: -47px; }

.bluealert {
  background-color: #f2a21a;
  color: white;
  padding: 15px 15px 17px 65px; }
  .bluealert i {
    font-size: 36px;
    vertical-align: middle;
    position: absolute;
    margin-left: -47px; }
  .bluealert input[type='text'] {
    display: block;
    width: 320px;
    height: 20px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid white;
    background-color: #f2a21a;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px; }
  .bluealert button {
    position: absolute;
    margin-top: -46px;
    margin-left: 264px;
    padding: 11px 9px 10px 9px;
    width: 77px;
    height: 40px;
    font-size: 15px;
    background-color: #f7c97b; }
  .bluealert ::-webkit-input-placeholder {
    color: white; }
  .bluealert :-moz-placeholder {
    /* Firefox 18- */
    color: white; }
  .bluealert ::-moz-placeholder {
    /* Firefox 19+ */
    color: white; }
  .bluealert :-ms-input-placeholder {
    color: white; }

.redalert {
  background-color: #eb4e41;
  color: white;
  padding: 15px 15px 17px 65px; }
  .redalert i {
    font-size: 36px;
    vertical-align: middle;
    position: absolute;
    margin-left: -47px; }
